* {
    color: #fff;
}

.main {
    background-color: rgb(42, 42, 42);
    height: 469px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.center {
    height: 200px;
}

input,
textarea {
    color: black;
}

textarea {
    min-width: 220px;
    max-width: 220px;
    min-height: 100px;
    max-height: 100px;
}

.message {
    display: flex;
    justify-content: space-around;
}

button {
    background: #fff;
    color: black;
    cursor: pointer;
    transition: .5s;
    border: none;
    outline: none;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0px 0px 10px black;
}