<div class="charge">
    <button (click)="chargePhone()" [disabled]="!disableChargeButton">Charge Iphone</button>
</div>

<div class="lock">
    <button routerLink="/">
        <p>L</p>
        <p>O</p>
        <p>C</p>
        <p>K</p>
    </button>
</div>

<div class="main">
    <div class="top">
        <div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <div class="center">
        <div class="header">
            <div class="left">
                <i class="ri-base-station-fill"></i>
                <!-- <i *ngIf="wifiCheck" class="ri-wifi-fill"></i> -->
            </div>
            <div class="right"><span>{{batteryNum}}%</span> <i [class]="battery"></i></div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="bottom">
        <button routerLink="/homescreen"></button>
    </div>
</div>