<div class="main">
    <div class="center">
        <div class="rick" routerLink="/rickmorty">
            <img
                src="https://e7.pngegg.com/pngimages/479/224/png-clipart-rick-and-morty-rick-sanchez-rick-and-morty-season-3-adult-swim-rick-and-morty-season-2-episode-rick-and-morty-grass-fictional-character.png">
            <p>Rick & Morty</p>
        </div>
        <div class="naruto" routerLink="/naruto">
            <img src="https://e1.pngegg.com/pngimages/234/293/png-clipart-render-naruto-uzumaki-naruto.png">
            <p>Naruto</p>
        </div>
    </div>
</div>