/* You can add global styles to this file, and also import other style files */



body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    background-color: #323232;
    overflow: hidden;
}

.custom-dialog-container .mat-dialog-container {
    width: 250px;
    background: #ddeef6ce;
    border-radius: 15px;
    padding: 0px;
}